<div class="row">
  <div class="col col-sm-3 ability-scores">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="ability-score">
          14
        </div>
        <div class="ability-score-modifier">
          &nbsp;&nbsp;+2
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="ability-score-strength">
      <u>Strength</u>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-sm-3 ability-scores">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="ability-score">
          20
        </div>
        <div class="ability-score-modifier">
          &nbsp;&nbsp;+5
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="ability-score-dexterity">
      <u>Dexterity</u>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-sm-3 ability-scores">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="ability-score">
          14
        </div>
        <div class="ability-score-modifier">
          &nbsp;&nbsp;+2
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="ability-score-constitution">
      <u>Constitution</u>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-sm-3 ability-scores">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="ability-score">
          8
        </div>
        <div class="ability-score-modifier">
          &nbsp;&nbsp;-1
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="ability-score-intelligence">
      <u>Intelligence</u>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-sm-3 ability-scores">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="ability-score">
          12
        </div>
        <div class="ability-score-modifier">
          &nbsp;&nbsp;+1
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="ability-score-wisdom">
      <u>Wisdom</u>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-sm-3 ability-scores">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="ability-score">
          13
        </div>
        <div class="ability-score-modifier">
          &nbsp;&nbsp;+1
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="ability-score-charisma">
      <u>Charisma</u>
    </div>
  </div>
</div>